@font-face
{
    font-family: 'Raleway';
    src: url(ressources/texte/Raleway-VariableFont_wght.ttf);
    
}
@font-face {
    font-family: 'Raleway_bold';
    src: url(ressources/texte/Raleway/static/Raleway-Bold.ttf);
}

    

body
{
    width: auto;
    margin: auto;
    font-family: Raleway;
}

header 
{
    display: flex;
    justify-content: space-between;
    margin : 2%;
}
.navigation1:hover
{
    padding-top: 39%;
    border-top: 2px solid rgb(0, 162, 255);
}
.navigation2:hover
{
    padding-top: 70%;
    border-top: 2px solid rgb(0, 162, 255);
}
.logo
{
    margin-left: 10%;
}

header ul 
{
    display: flex;
}
header nav ul li 
{
    list-style:none;
    padding-left: 100px;
}
.navigation1 , .navigation2
{
    text-decoration: none;
    color: black;
}
.recherche
{
    margin-left: 2%;
}
 h1
{
    font-family: Raleway_bold;
    margin-bottom: none;
}
.recherche h2
{
    font-size:17px;
    font-weight:300;
}
.p
{
    margin-top: -10px;
}
 form p{
    display: flex;
    width: 32%;
}

input
{
    border-collapse: collapse;
    height: 50px;
   
}
.search
{
    border-width: 1px;
    border-style:solid;
    border-color: rgba(201, 199, 199, 0.363);
    border-right: none;
    border-left: none;
    font-family: Raleway_bold;
    width: 55%;
    padding-left: 10px;
    color: black;
   
}
.search:focus
{
    outline: none;
}

.bouton
{
    background-color:#0065FC;
    border-width: 0px;
    border-style: solid;
    border-color: #d1d0d0;
    border-radius: 0px 16px 16px 0px;
    border-left: none;
    text-align: center;
    width: 30%;
    color: ghostwhite;
    font-size: 1em;
    font-family: Raleway_bold;
}
 #img_localisation
{
    border: 1px solid rgba(201, 199, 199, 0.363);
    border-right: 0px;
    border-collapse: collapse;
    border-radius: 16px 0px 0px 16px;
    border-right: none;
    height: 50px;
    width : 50px;
}

.filtres 
{
    display: flex;
    width: 80%;
    font-family: Raleway_bold;
    align-items: baseline;
}
.filtres_liste
{
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}
.filtres h2 
{
    width: 7%;
}
.texte
{
    margin: 0px;
    border: 2px solid #d1d0d08a;
    border-radius: 50px;
    padding-right: 10px;
    border-left: 0px;
}
.filtres_a
{
    text-decoration: none;
    color: black;
    
}
.filtres i 
{
    border-radius: 100px;
    color: #0065FC;
    padding: 10px;
    background-color: #DEEBFF ;
    margin: -2px 10px -2px -2px;
}
#Familial
{
    padding-left: 12px;
    padding-right: 12px;
}

.logements
{
    margin: 2% auto;
}
.logements i
{
    margin-right: 10px;
    font-size: 10px;
    background-color: transparent;
    border: 1px solid #cfcfcf;
    padding: 4px 8px 4px 8px;
    border-radius: 50px;
    color: #0065FC;
}
.Principal
{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 0%;
}
.Principal h1
{
    color: black;
    font-family: Raleway_bold;
    margin-top: 0px;
}
.Principal h2
{
    font-family: Raleway_bold;
    color: black;
}

.Principal a 
{
    text-decoration: none;
    height: 32%;
}

.Hébergements
{
    width: 58%;
    padding: 2% 0% 2% 2%;
    background-color: #F2F2F2;
    border-radius: 4%;
    margin-left: 2%;
}
.figures
{
   display: flex; 
   list-style: none;
   flex-wrap: wrap;
   padding: 0%;
}
.Hébergements_liste1_card
{
    margin-right: 3%; 
    margin-bottom: 3%;
    width: 30%;
}

.figure1
{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    margin-bottom:10px;
    border-radius: 20px;
    margin: 0px;
}
.Hébergements figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
}


.figure1 p
{
    color: black;
    
}

.Hébergements img 
{
    width: 100%;
    height: 60%;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
}
.étoiles2
{
    display: flex;
    padding: 0px;
    list-style: none;
}
.étoiles2 li 
{
    color:#0065FC;
}
.étoiles2 .etoile-gris
{
    color: #80808059;
}


.Plus 
{
    margin-bottom: 0%;
}
.Populaires
{
    width: 28%;
    background-color: #F2F2F2;
    border-radius: 4%;
    margin-right: 2%;
    padding: 2%;
}
.Populaires_titre
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 2%;
}
.Populaires_titre i 
{
    color: black;
}
.Populaires img
{
    border-radius: 16px 0px 0px 16px;
    object-fit: cover;
    width: 40%;
}

.Populaires_liste
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style:none;
    margin: 0%;
    padding: 0%;
}
.figure2
{
    display: flex;
    justify-content:stretch;
    margin: 3%;
    border-radius: 16px;
    padding: 5px;
    background-color: white;
}
.Populaires figcaption
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
    padding-left: 6%;
    padding-right: 8%;
    padding-bottom: 2%;
}
.figure2 p 
{
    color: black;
}
.titre_activités
{
    margin-left: 20px;
}
.Activités
{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    border-radius: 20px;
}

.liste3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;;
    padding: 0px;
    margin: 0px;
    width: 22%;
    margin: 0px;
}

.trois, .six
{
    width: 22%;
    text-decoration: none;
}
.figure3, .figure4, .figure5, .figure6, .figure7, .figure8
{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 0;
    box-shadow: 0px 0px 10px #dfdfdf;
    color: black;
}

.Activités img
{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 18px 18px; /* les 18px permettent d'éviter de voir un bout de l'image sur les angles situé en bas*/
    object-fit: cover;
    z-index: 1;
}
.Activités figcaption
{
    border-radius: 0px 0px 15px 15px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 10px 0px;
    z-index: 2;
    background-color: white;
    
}

.figure3 img
{
    object-position: 52%
}
.figure4 img
{
    object-position: center;
}
.figure5 img
{
    object-position: 40%;
}
.figure6 img 
{
    object-position: 52%;
}
.figure7 img
{
    object-position: 20%;
}
.figure8 img 
{
    object-position: 52%;
}

.figure3 h2, .figure5 h2, .figure4 h2, .figure5 h2, .figure6 h2, .figure7 h2, .figure8 h2
{
    margin: 0;
}

footer
{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    background-color: #F2F2F2;
    font-family: Raleway;
    margin-top: 40px;
}

.titre
{
    margin: 0px 15% 30px 0px;
    list-style: none;
    padding-left: 0px;
    width: 90%;
}
.titre li 
{
    margin-bottom: 2%;
}
footer .H1 
{
  font-family: Raleway_bold;
  margin-bottom: 5%;
}
footer a 
{
    text-decoration: none;
    color: black;
}


@media screen and (min-width: 992px) and (max-width:1100px)
{
    input   {  height: 40px;}
    .search     { font-size: 0.8em; }
    .bouton
    {
        width: 30%;
        font-size: 0.8em;
    }
    #img_localisation
    {
        object-fit: cover;
        height: 38px;
        width: 13%;
    }
    .filtres    { font-size: 0.6em;}
    .logements  { font-size: 0.6em;}
    .Principal h1    { font-size: 1em; }

    .Principal h2
    {
        font-size:0.8em;
        width: 100%;
        margin-bottom: 2%;
    }
    .figure1 p
    {
        margin: 0% auto;
        font-size: 0.6em;
    }
    .figure2 p  { font-size: 0.6em;}

    .figure1    {height:140px;}

    .figure2    {  height: 100px; }
      
    .Populaires img {  width: 40%; }
    
    .étoiles2 li i  {font-size: 0.4em;}

    .test :hover
    {
        padding-top: 18px;
    }
    header nav ul li 
    {
        font-size: 0.7em;
    }
    .logo
    {
        height: 36px;
    }
    h1 
    {
        font-size: 1em;
    }
    .p
    {
        font-size: 0.6em;
    }
    .Activités
    {
        font-size: 0.5em;
    }
    .Activités h2
    {
        padding-left: 10px;
    }
    .Activités figcaption
    {
        padding: 10px 0px;
    }
    .figure3
    {
        height: 300px;
    }
    .figure4
    {
        height: 160px;
    }
    .figure5 
    {
        height: 105px;
    }
    .figure6
    {
        height: 300px;
    }
    .figure7
    {
        height: 128px;
    }
    .figure8
    {
        height: 140px;
    }
    .H1
    {
        font-size: 0.7em;
    }
    footer a
    {
        font-size: 0.4em;
    }
}
@media screen and (min-width: 1101px) and (max-width: 1200px)
{
    .test:hover
    {
        padding-top: 40px;
    }
    header nav ul li 
    {
        font-size: 0.9em;
    }
    .logo
    {
        height: 44px;
    }
    h1 
    {
        font-size: 1.2em;
    }
    .p
    {
        font-size: 0.7em;
    }
    .search
    {
        font-size: 1.1em;
    }.filtres
    {
        font-size: 0.7em;
    }
    .logements
    {
        font-size: 0.6em;
    }
    .Principal h1
    {
        font-size: 1.1em;
    }
    .Principal h2
    {
        font-size:0.8em;
        margin-bottom: 0;
    }
    .figure1 
    {
        height: 150px;
    }
    .figure1 p 
    {
        margin: 0% auto;
        font-size: 0.6em;
    }
    .figure2
    {
        height: 100px;
    }
    .figure2 p
    {
        font-size: 0.7em;
    }
    .étoiles2 li i 
    {
        font-size: 0.4em;
    }
    .Activités
    {
        font-size: 0.5em;
    }
    .Activités h2
    {
        padding-left: 16px;
    }
    .Activités figcaption
    {
        padding: 10px 0px;
    }
    #img_localisation
    {
        height: 48px;
    }
    .figure3
    {
        height: 300px;
    }
    .figure4
    {
        height: 160px;
    }
    .figure5 
    {
        height: 105px;
    }
    .figure6
    {
        height: 300px;
    }
    .figure7
    {
        height: 128px;
    }
    .figure8
    {
        height: 140px;
    }
    .H1
    {
        font-size: 1em;
    }
    footer a
    {
        font-size: 0.8em;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1300px)
{
    .test:hover
    {
        padding-top: 40px;
    }
    header nav ul li 
    {
        font-size: 0.9em;
    }
    .logo
    {
        height: 44px;
    }
    h1 
    {
        font-size: 1.2em;
    }
    .p
    {
        font-size: 0.8em;
    }
    .search
    {
        font-size: 1.1em;
    }.filtres
    {
        font-size: 0.8em;
    }
    .logements
    {
        font-size: 0.7em;
    }
    .Principal h1
    {
        font-size: 1.4em;
    }
    .Principal h2
    {
        font-size:0.9em;
        margin-bottom: 0;
    }
    .figure1 
    {
        height: 160px;
    }
    .figure1 p 
    {
        margin: 0% auto;
        font-size: 0.7em;
    }
    .figure2
    {
        height: 120px;
    }
    .figure2 p
    {
        font-size: 0.7em;
    }
    .étoiles2 li i 
    {
        font-size: 0.5em;
    }
    .Activités
    {
        font-size: 0.8em;
    }
    .Activités h2
    {
        padding-left: 16px;
    }
    .Activités figcaption
    {
        padding: 16px 0px;
    }
    #img_localisation
    {
        height: 48px;
    }
    .figure3
    {
        height: 400px;
    }
    .figure4
    {
        height: 210px;
    }
    .figure5 
    {
        height: 150px;
    }
    .figure6
    {
        height: 400px;
    }
    .figure7
    {
        height: 190px;
    }
    .figure8
    {
        height: 210px;
    }
    .H1
    {
        font-size: 1em;
    }
    footer a
    {
        font-size: 0.8em;
    }
}
@media screen and (min-width: 1301px) and (max-width: 1440px)
{
    .search
    {
        font-size: 1.2em;
    }
    .navigation1:hover
    {
        padding-top: 39%;
        border-top: 2px solid rgb(0, 162, 255);
    }
    .navigation2:hover
    {
        padding-top: 70%;
        border-top: 2px solid rgb(0, 162, 255);
    }
    header ul li
    {
        font-size: 0.9em;
    }
    .logo
    {
        height: 44px;
    }
    h1 
    {
        font-size: 1.2em;
    }
    .p
    {
        font-size: 0.9em;
    }
    .filtres
    {
        font-size: 0.9em;
    }
    .logements
    {
        font-size: 0.8em;
    }
    .Principal h1
    {
        font-size: 1.5em;
    }
    .Principal h2
    {
        font-size:1em;
        margin-bottom: 0;
    }
    .figure1 p
    {
        margin-top: 2%;
        font-size: 0.8em;
        margin-bottom: 2%;
    }
    .figure2 p 
    {
        font-size: 0.8em;
    }
    .Populaires
    {
        width: 27%;
    }
    .Hébergements
    {
        width: 59%;
    }
    .figure1
    {
        height:200px;
    }
    .figure2
    {
        height: 140px;
    }
    .étoiles2 li i 
    {
        font-size: 0.6em;
    }
    .Activités
    {
        font-size: 0.8em;
    }
    .Activités h2
    {
        padding-left: 16px;
    }
    .Activités figcaption
    {
        padding: 16px 0px;
    }
    #img_localisation
    {
        height: 48px;
    }
    .figure3
    {
        height: 450px;
    }
    .figure4
    {
        height: 230px;
    }
    .figure5 
    {
        height: 170px;
    }
    .figure6
    {
        height: 450px;
    }
    .figure7
    {
        height: 190px;
    }
    .figure8
    {
        height: 210px;
    }
    .H1
    {
        font-size: 1em;
    }
    footer a
    {
        font-size: 0.8em;
    }
}


@media all and (max-width: 767px) 
{

    body
    {
        text-align: center;
    }
    header
    {
        display: flex;
        flex-direction: column;
        margin: auto 0px
    }
    .logo
    {
        margin-left: auto;
    }
    header ul 
    {
        display: flex;
        justify-content: space-around;
        padding:0px;
    }
    header nav ul li
    {
        padding: 0px;
        
    }
    header nav ul a 
    {
        width: 50%;
        border-bottom: 3px solid grey;
        padding-bottom: 10px;
    }
    header nav ul a:hover
    {
        border-bottom: 3px solid blue;
        
    }
    .recherche
    {
        margin: auto 4%;
    }
    .recherche h1 
    {
        width: 80%;
        text-align: left;
    }
    .recherche .p
    {
        text-align: left;
        
    }
    .barre_recherche
    {
        width: 100%;
    }
    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
    }
    
    .filtres a 
    {
        width: max-content;
        margin: 0px;
        font-size: 1.2em;
        margin-bottom: 2%;
    }
    .filtre_titre
    {
        font-size: 1.3em;
    }
    span 
    {
        padding: 20px 10px;
    }
}
@media screen and (max-width: 643px)
{
   
}
@media screen and (max-width: 352px)
{
    .filtres :nth-child(3) {order:2}
    .filtres :nth-child(5) {order:1}
}